.guess-modal {
    align-items: center;
    color: #3F2305;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 1rem;
    justify-content: center;
    position: absolute;
    top: 10px;
    transition: ease;
    transition-duration: 0.2s;
    width: 100%;
    will-change: transform;
    z-index: 2;
}

.guess-modal-input {
    background-color: #F2EAD3;
    border: 2px solid #3F2305;
    color: #3F2305;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px;
    width: 80%;
}