html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #F5F5F5;
  height: 100%;
  margin: 0;
  transition: ease;
  transition-duration: 1s;
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3F2305;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #251503;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}